* {
  box-sizing: border-box;
}

/* body {
  position : relative;
} */
/* #creat_review_btn {
  z-index: 1;
} */

/* modal 배경? */
.modal_create_review {
  z-index: 1;

  /* .modal_window 정가운데로 조절하기 위해 flex로 설정 */
  /* 처음에 보이면 안되기 때문에 none으로 설정 */
  display: none;

  width: 100%;
  height: 100%;

  /* 전체화면으로 만들기 위함 */
  position: fixed; /*fixed로 설정시 body에 relative 속성 불필요*/
  left: 0;
  top: 0;
  /* bottom: 0; 불필요*/


  background-color: rgba(128, 128, 128, 0.5);
}
/* 주 modal 창 */
.modal_window {
  width: 600px;
  height: 600px;

  display: flex;
  flex-direction: column;

  /* 뒷배경 스크롤은 되지만 항상 가운데에 위치하도록 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: bisque;
  border-radius: 30px;

  margin: auto;
  padding: 50px;
}

/* modal header */
.modal_header {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_header .select_star {
  padding-left: 5px;
  padding-right: 5px;
}
/* .modal_header p {
리뷰 작성란 제목 부분

} */

/* modal body */
.modal_body {
  width: 100%;
  height: 80%;
}
.modal_body p {
  width: 100%;
  height: 95%;
}
.modal_body p #review_text {
  width: 100%;
  height: 100%;

  /* 입력칸 크기 조절 불가 */
  resize: none;

  /* 창 크기를 넘기면 스크롤 가능하게 */
  overflow: scroll;

  /* 작성칸 자체 사이즈는 100%인데 padding, margin, border에 의해 넘어감 */
  /* 전체에 box-sizing:border-box 적용해 해결 */
  /* padding: 0;
  margin: 0;
  border: 0; */
}
.modal_body .review_length {
  width: 100%;
  height: 5%;
}
.modal_body .review_length p {
  text-align: right;
}

/* modal footer */
.modal_footer {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  margin: auto;
}
.modal_footer button {
  width: 15%;
  height: 60%;

  border: 1px solid black;
  border-radius: 5px;
}
.modal_footer .name_pw {
  width: 70%;
  height: 100%;

  display: flex;

  /* margin-left: 10px;
  margin-right: 10px; */
  justify-content: space-around;
}
.name_pw .container {
  width: 48%;
  height: 100%;

  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  flex-wrap: wrap;
}
.container .input_box {
  width: 100%;
  height: 60%;
  background-color: rgb(170, 170, 170);

  border-radius: 5px;
  padding: 3px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  position: relative;
}
.container label {
  width: 30%;
  /* height: 100%; */

  text-align: center;
}
.container input {
  width: 70%;
  height: 100%;

  border: 1px solid black;
  border-radius: 3px;

  /* margin: 3px 3px 3px 0; */
}
.container .input_description {
  display: none;

  width: 100%;

  color: red;
  font-size: xx-small;
  text-align: end;
  padding: 3px;
}