* {
  box-sizing: border-box;
}

/* body {
  position : relative;
} */
/* #creat_review_btn {
  z-index: 1;
} */

/* modal 배경? */
.modal_create_review {
  z-index: 1;

  /* .modal_window 정가운데로 조절하기 위해 flex로 설정 */
  /* 처음에 보이면 안되기 때문에 none으로 설정 */
  display: none;

  width: 100%;
  height: 100%;

  /* 전체화면으로 만들기 위함 */
  position: fixed;
  /*fixed로 설정시 body에 relative 속성 불필요*/
  left: 0;
  top: 0;
  /* bottom: 0; 불필요*/


  background-color: rgba(0, 0, 0, 0.5);
}



.modal_review {
  z-index: 1;

  /* .modal_window 정가운데로 조절하기 위해 flex로 설정 */
  /* 처음에 보이면 안되기 때문에 none으로 설정 */
  display: none;

  width: 100%;
  height: 100%;

  /* 전체화면으로 만들기 위함 */
  position: fixed;
  /*fixed로 설정시 body에 relative 속성 불필요*/
  left: 0;
  top: 0;
  /* bottom: 0; 불필요*/


  background-color: rgba(0, 0, 0, 0.5);
}

/* 주 modal 창 */
.modal_window {
  width: 600px;
  height: 620px;

  display: flex;
  flex-direction: column;

  /* 뒷배경 스크롤은 되지만 항상 가운데에 위치하도록 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #f4f4f9;
  border-radius: 30px;

  margin: auto;
  padding: 30px;
}

/* modal header */
.modal_header {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;

  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#review_comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

#comment_area {
  overflow: scroll;
}

.modal_star {
  padding-bottom: 8px;
}

/** modal 리뷰 / 홍승우 **/
/* modal header */
.modal_comment {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  font-family: Pretendard;
}
.comment_input {
  width: 60vh;
  height: 40px;
}
.comment_button {
  color: #FFF;
  font-family: Pretendard;
  font-size: 14px;
  display: flex;
  width: 10vh;
  height: 40px;
  padding: 11px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  border: 0px;
  background: var(--blue, #858585);
}

.comment_button:hover {
  background: var(--blue, #5f5f5f);
}


/* modal body */
.modal_body {
  width: 100%;
  height: 65%;
  margin-top: 10px;
}

.modal_body p {
  width: 100%;
  height: 98%;

}

.modal_body p #review_text, #fix_text {
  width: 100%;
  height: 100%;

  /* 입력칸 크기 조절 불가 */
  resize: none;

  /* 창 크기를 넘기면 스크롤 가능하게 */
  overflow: scroll;

  /* 작성칸 자체 사이즈는 100%인데 padding, margin, border에 의해 넘어감 */
  /* 전체에 box-sizing:border-box 적용해 해결 */
  /* padding: 0;
  margin: 0;
  border: 0; */
}

.modal_body .review_length {
  width: 100%;
  height: 5%;
}

.modal_body .review_length p {
  text-align: right;
}


/**Card 방식 modal*/

.modal_body_card {
  width: 100%;
  height: 65%;
  margin-top: 10px;
  /* 창 크기를 넘기면 스크롤 가능하게 */
  overflow: scroll;
  overflow-x: hidden; /* 가로 스크롤 숨김 */
  padding: 10px; /* 내용물과 경계선 사이에 여백 추가 */
  border: 1px solid #ccc; /* 경계선 추가 */
  box-sizing: border-box; /* 패딩과 경계선을 포함하여 크기를 계산 */
}


/* modal footer */
.modal_footer {
  width: 100%;
  height: 10%;
}

.modal_footer .name_pw {
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  /* margin-left: 10px;
  margin-right: 10px; */
  justify-content: space-around;
  margin-bottom: 10px;
}

.modal_line {
  border: none; /* 기본 border 제거 */
  border-top: 1px solid #817e7e; /* 회색 선 추가 */
  margin: 10px 0; /* 위아래 여백 추가 */
}

.name_pw .container {
  width: 48%;
  height: 100%;

  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  flex-wrap: wrap;
}

.container .input_box {
  width: 100%;
  height: 60%;
  background-color: rgb(170, 170, 170);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.container label {
  width: 30%;
  /* height: 100%; */

  text-align: center;
}

.container input {
  width: 70%;
  height: 100%;

  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0px;

  /* margin: 3px 3px 3px 0; */
}

.container .input_description {
  display: none;

  width: 100%;

  color: red;
  font-size: xx-small;
  text-align: end;
  padding: 5px;
}

.button_area {
  display: flex;
  justify-content: space-between;
}

.register_button {
  color: #FFF;

  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 250px;
  height: 56px;
  padding: 26px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 0px;
  background: var(--blue, #0057FF);
}

.register_button:hover {
  background: var(--blue, #0056b3);
}

.cancel_button {
  color: #0057FF;

  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 250px;
  height: 56px;
  padding: 26px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border-color: #0057FF;
  background: white;
}

.cancel_button:hover {
  background: var(--blue, #ededed);
}

.close_btn {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 15px 5px 15px;
  background-color: white;
  border-color: hsl(0, 100%, 50%);
  border-radius: 10px;
  color: #ff0000;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.close_btn:hover {
  color: white;
  border-color: #ff0000;
  background-color: rgb(255, 0, 0);
}