/* 다크모드 css */

/* ==================================================================메인 페이지 스타일================================================================= */
/* 기본 스타일 초기화 */

body {
  background-color: #222;
  color: #ddd;
  display: flex;
  flex-direction: column;
  transition: all 0.3s; /*테마 변경 transition*/

}

.header {
  background-color: #222;
}
.movie_card {
  background-color: #333;
}

.movie_card h3 {
  font-family: Pretendard;
  font-size: 20px;
  margin-bottom: 10px;
  color: #ddd;
  font-weight: bold;
}

.movie_card p {
  color: #ddd;
}

.movie_card span {
  color: #ddd;
}

/* ==================================================================상세 페이지 스타일================================================================= */

.page_list a {
  color: #ddd;
}

.movie_overview_container, .cards {
  background-color: #333333;
}

.movie_overview_container .vote, .movie_info, .user_id, .user_review, .comment_num {  
  color: #ddd;
}

.vote_average{
  color: #fffb1c;
}

.review_title{
  color: #ddd;
}

/* ===========================================모 . 달 . 창========================================== */
.modal_window, .select_star, #review_text, #fix_text, .modal_header {
  background-color: #333;
  color: #ddd;
}

.modal_body_card{
  border: 1px solid #666;
}

.close_btn{
  background-color: #333;
}