/* 기본 스타일 초기화 */
*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s; /*테마 변경 transition*/

}

/* body,
h3,
p,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 검색 영역 스타일 */
.header {
  width: 100%;
  text-align: center;
  top: 0;
  position: fixed;
  z-index: 1; /*100은 너무 커서 1로 수정 : 해인*/
  background-color: #f4f4f9;
}

.header h1 {
  margin: 21px 21px;
  font-size: 32px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#search_input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

#search_input:focus {
  border-color: #007bff;
}

#search_button {
  padding: 10px 20px;
  background-color: #0057FF;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#search_button:hover {
  background-color: #0056b3;
}

/* 영화 카드 컨테이너 스타일 */
.movie_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  padding-top: 135px; /* header 부분 position고정에 따라 요소가 가려지는 것 방지 */
}

/* 영화 카드 스타일 */
.movie_card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.movie_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie_card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.movie_card_content {
  padding: 15px;
}

/* 카드 본문 설명 부분 */
.movie-card-content {
  padding: 20px;
  text-align: center;
}

.movie_card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #444;
  font-weight: bold;
}

.movie_card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie_card span {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

/* 페이지네이션 스타일 */
.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination_button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.pagination_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination_button:hover:not(:disabled) {
  background-color: #0056b3;
}

#page_number {
  font-size: 16px;
  color: #333;
}

.number_button_wrapper {
  border-radius: 8px;
  font-size: 20px;
  margin: 0 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.number_button:hover {
  text-decoration-line: underline;
}

.number_button.selected {
  font-weight: bold; /* 선택된 버튼 글자 굵기 */
  color: #006eff;
}

h2 {
  text-align: center;
}


/* 최근 클릭한 영화  by 해인*/
.recent_movies_container {
  display: none;

  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;

  width: 300px;
  height: 100%;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
  flex-shrink: 0;

  background-color: rgba(255, 255, 255, 0.7);

  /* animation: openClose 0.8s ease-in-out; */
}
.recent_movies_container .container {
  width: 100%;
  height: calc(100% - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;

  overflow-y: scroll;
}
.open {
  animation: openClose 0.8s ease-in-out;
}
.close {
  animation: openClose 0.8s ease-in-out;
  animation-direction: reverse;
}
@keyframes openClose {
  0% {
    translate: 100%;
  }
  100% {
    translate: 0%;
  }
}
.close_recent_movies_btn_container {
  width: 100%;
  height: 25px;
  background-color: transparent;
  
  z-index: 2;
}

#close_recent_movies_btn {
  width: 25px;
  height: 100%;

  font-size: xx-large;
  line-height: 0%;

  padding: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.recent_movie_card {
  width: 250px;
  height: fit-content;

  /* display flex 지정 안하면 img와 div 사이에
  이상한 3px의 공간이 남음 */
  display: flex;

  margin-top: 25px;

  cursor: pointer;
}
.recent_movie_card:first-child {
  margin-top: 10px;
}.recent_movie_card:first-child:hover {
  margin-top: 6px;
}
.recent_movie_card:last-child {
  margin-top: 25px;
  margin-bottom: 25px;
}
.recent_movie_card img {
  width: 100%;
  ;

  object-fit: cover;

  padding: 0;
  margin: 0;
}
.recent_movie_card:hover {
  /* img에 강조 더하면서 다른 카드 밀리지 않도록 조정 */
  margin-top: 21px;
}

.recent_movie_card:hover img {
  translate: -2px -5px;
  border: 2px solid #0057FF;
  box-sizing: content-box;
}

#recent_movies_btn {
  z-index: 1;
  position: fixed;
  bottom: 25px;
  right: 25px;
  /* translate: 50% 50%; */

  width: 50px;
  height: 50px;

  color: white;
  background-color:#0057FF;
  border: 0;
  border-radius: 50px;

  animation: upDown 1s ease-in-out infinite;
  cursor: pointer;
}

/* 최근 버튼 상하 움직임 */
@keyframes upDown {
  0% {
    bottom: 25px;
  }

  50% {
    bottom: 35px;
  }

  100% {
    bottom: 25px;
  }
}
/* 최근 클릭한 영화  by 해인*/


/*다크모드 토글*/
.toggle-class{
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 5px;
}
/* 체크박스 스타일 */
[type="checkbox"] {
  appearance: none; /*기존 스타일 제거*/
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 25px;
  width: 50px;
  height:25px;
}
/*thumb 스타일*/
[type="checkbox"]::before{
  content: "";
  position: absolute;
  width:22px;
  height: 22px;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 300ms linear;
  left: 0;
}

/*활성화 스타일*/
[type="checkbox"]:checked::before{  
  background-color: white;
  left: 23px;
}

[type="checkbox"]:checked{
  background-color: #00356e;
  border-color: #0058b6;
}

[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(2px, 0.2em) rgb(160, 160, 160);
}